{% extends 'base.html.twig' %}

{% block title %}Workspaces{% endblock %}

{% block body %}
<h1 class="workspace-title">Workspaces</h1>

<a href="{{ path('app_workspace_new') }}" class="btn btn-primary mb-3 float-end">
    + Create Workspace
</a>

<table class="table table-hover">
    <thead class="table-primary">

        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for workspace in workspaces %}
            <tr>
                <td>{{ workspace.id }}</td>
                <td>{{ workspace.name }}</td>
                <td>
   <a href="{{ path('app_workspace_show', {id: workspace.id}) }}"
   class="action-link show">Show</a>

<a href="{{ path('app_workspace_edit', {id: workspace.id}) }}"
   class="action-link edit">Edit</a>

</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center text-muted">
                    No workspaces found
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
